.about__image {
  display: block;

  width: 100%;
  margin-left: -1.5px;
}

.text-wrapper {
  padding: 70px 0 0 50px;
}

.description {
  font-size: 21px;

  margin: 0;
}

.footer {
  margin-top: 80px;
}

.footer__paragraph {
  margin: 0 0 14px;
}

.footer__paragraph:last-child {
  margin: 0;
}

.footer-link {
  color: #161616;
}
