.image-wrapper {
  width: calc(100% + 1.5px);
  margin-left: -1.5px;
  aspect-ratio: 230 / 131;

  background-color: #16161615;
}

.about__image {
  width: 100%;
}

.text-wrapper {
  padding: 70px 0 0 50px;
}

.description {
  font-size: 21px;

  margin: 0;
}

.footer {
  margin-top: 80px;
}

.footer__paragraph {
  margin: 0 0 14px;
}

.footer__paragraph:last-child {
  margin: 0;
}
