.teacher-block {
  margin-top: 116px;
}

.teacher-block:first-child {
  margin-top: 0;
}

.image {
  width: calc(100% + 1.5px);
  height: 447px;
  margin-left: -1px;

  /* aspect-ratio: 905 / 447; */

  background-color: #16161615;
  background-position: center;
  background-size: cover;

  overflow: hidden;
}

.teacher__image {
  width: 100%;
}

.text-block {
  padding: 0 0 0 48px;
}

.name {
  font-size: 1.14rem;
  font-weight: 600;
  text-transform: uppercase;

  margin: 76px 0 0;
}

.description {
  font-weight: 500;

  width: 50%;
  margin: 8px 0 0;
}

@media (max-width: 580px) {
  .image {
    height: 444px;
  }
}
