.teacher-block {
  margin-top: 116px;
}

.image-wrapper {
  aspect-ratio: 48 / 25;

  background-color: #16161615;

  overflow: hidden;
}

.image {
  width: 100%;
}

.name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  margin: 76px 0 0;
}

.description {
  font-size: 21px;
  font-weight: 500;

  margin: 16px 0 0;
}
