.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  aspect-ratio: 260 / 309;

  background-color: #16161615;
  background-position: center;
  background-size: cover;

  overflow: hidden;
}

.name {
  font-size: 1.14rem;
  font-weight: 600;
  text-transform: uppercase;

  margin: 28px 0 0;
}

.text {
  margin: 10px 0 0;
}

.link {
  width: fit-content;
  margin-top: 10px;
}

.link_secondary {
  margin-top: 26px;
}

@media (max-width: 580px) {
  .name,
  .text {
    text-align: center;
  }

  .link_full-width {
    width: 100%;
  }

  .image {
    aspect-ratio: unset;
    height: 190px;
  }

  .image_no-resize {
    aspect-ratio: 260 / 309;
    height: unset;
    width: 100%;
  }

  .name {
    font-size: 14px;

    margin: 14px 0 0;
  }

  .link {
    align-self: center;
  }
}
