.contacts-wrapper {
  padding: 86px 0 0 50px;
}

.contacts {
  max-width: 430px;
  margin-bottom: 70px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0 0 18px;
}

.tel {
  display: block;

  color: #161616;
  text-decoration: none;

  width: fit-content;
}

.link {
  display: block;

  color: #161616;

  width: fit-content;
  margin-top: 5px;
}

.tel:focus,
.link:focus {
  outline: 0;
}

.tel:focus-visible,
.link:focus-visible {
  outline: 1.5px solid #161616;
}

.text {
  margin: 12px 0 0;
}
