.contacts-wrapper {
  padding: 86px 0 0 50px;
}

.contacts {
  max-width: 430px;
  margin-bottom: 70px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0 0 18px;
}

.tel {
  display: block;

  width: fit-content;
}

.link {
  display: block;

  width: fit-content;
  margin-top: 5px;
}

.text {
  margin: 12px 0 0;
}
