.link-wrapper {
  position: relative;

  line-height: 1.2;
  white-space: nowrap;

  width: max-content;

  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #161616;
}

.link_inline {
  display: inline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1.5px solid #161616;
}

/* ЕСЛИ ИЗНАЧАЛЬНО НЕТ ПОДЧЕРКИВАНИЯ */

.link_underline::before {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  pointer-events: none;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0.13, 1);
}

.link_underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ЕСЛИ ИЗНАЧАЛЬНО ЕСТЬ ПОДЧЕРКИВАНИЕ */

.link_double-underline::before {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  pointer-events: none;

  transform-origin: right;
}

.link_double-underline:hover::before {
  animation: animation-name 0.5s cubic-bezier(0.33, 0, 0.13, 1);
}

@keyframes animation-name {
  50% {
    transform-origin: right;
    transform: scaleX(0);
  }
  50.1% {
    transform-origin: left;
    transform: scaleX(0);
  }
  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}

/* BUTTON */

.button {
  color: #161616;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.22;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1.5px solid #161616;
}

@media (max-width: 680px) {
  .link-wrapper {
    white-space: initial;
  }

  .link_double-underline {
    text-decoration: underline;
  }

  .link_double-underline::before {
    width: 0;
  }

  .link_double-underline:hover::before {
    animation: unset;
  }

  .button {
    text-decoration: underline;
  }
}
