.link {
  display: inline-block;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  box-sizing: border-box;

  border-radius: 50px;
  border: 1.5px solid #161616;

  cursor: pointer;

  transition: all 0.2s;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1.5px solid #161616;
}

/* PRIMARY */

.link_primary {
  color: #161616;

  background-color: transparent;
}

.link_primary:hover {
  color: #fff;

  background-color: #161616;
}

.link_primary:active {
  color: #161616;

  background-color: transparent;
}

/* SECONDARY */

.link_secondary {
  color: #fff;

  background-color: #161616;
}

.link_secondary:hover {
  color: #161616;

  background-color: transparent;
}

.link_secondary:active {
  color: #fff;

  background-color: #161616;
}

/* SIZE */

.link_size_s {
  padding: 12px 14px;
}

.link_size_m {
  padding: 11px 38px;
}

.link_size_l {
  font-size: 16px;

  padding: 15px 63px;
}
