.image-wrapper {
  width: calc(100% + 1.5px);
  margin-left: -1.5px;
  aspect-ratio: 230 / 131;

  background-color: #16161615;
}

.lineage__image {
  width: 100%;
}

.content-wrapper {
  margin-top: -20px;
}

.teachers-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 40px;
}
