html {
  font-size: 14px;
}

.body {
  position: relative;

  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.22;
  color: #161616;

  min-width: 690px;
  margin: 0;
}

.content-wrapper {
  padding: 0 calc(50% - 560px);
  box-sizing: border-box;

  background-color: #f5f5f5;
}

@media (max-width: 1240px) {
  .content-wrapper {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .content-wrapper {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .content-wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 11px;
  }
}
