.list-block {
  max-width: 630px;
}

.title {
  font-size: 1.14rem;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0 0 18px;
}

.description {
  margin: 0 0 12px;
}

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.list-item {
  margin-top: 7px;
}
