.item {
  display: flex;

  margin-bottom: 50px;
}

.item:last-child {
  margin-bottom: 0;
}

.image-wrapper {
  flex-shrink: 0;
  margin-right: 50px;

  width: 260px;
  height: 260px;

  background-color: #16161615;

  overflow: hidden;
}

.image {
  width: 100%;
}

.name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0;
}

.text {
  margin: 12px 0 0;
}

.text__paragraph {
  margin: 0;
}

.additional-text {
  margin: 40px 0 0;
}

.price {
  margin: 18px 0 0;
}

.amount {
  margin: 18px 0 0;
}

.link {
  display: inline-block;

  text-decoration: none;
  color: #161616;

  margin-top: 18px;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1.5px solid #161616;
}

.link_secondary {
  margin-top: 24px;
}
