.item {
  display: flex;

  margin-bottom: 50px;
}

.item:last-child {
  margin-bottom: 0;
}

.image {
  flex-shrink: 0;
  margin-right: 50px;

  width: 260px;
  height: 260px;

  background-color: #16161615;

  overflow: hidden;
}

.image_unavailable {
  opacity: 0.5;
}

.name {
  font-size: 1.14rem;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0;
}

.text {
  margin: 12px 0 0;
}

.text__paragraph {
  margin: 0;
}

.additional-text {
  margin: 40px 0 0;
}

.price {
  margin: 18px 0 0;
}

.amount {
  margin: 18px 0 0;
}

.link {
  margin-top: 18px;
}

.link_secondary {
  margin-top: 24px;
}

.unavailable {
  color: #16161680;
}

.not_available {
  text-transform: uppercase;

  margin: 20px 0 0;
}

@media (max-width: 1240px) {
  .image-wrapper {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 1024px) {
  .image-wrapper {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .image-wrapper {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 640px) {
  .image-wrapper {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 580px) {
  .item {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
    height: unset;
    aspect-ratio: 280/190;

    margin-right: 0;

    background-size: cover;
  }

  .name {
    text-align: center;

    margin-top: 25px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .price {
    text-align: center;

    margin: 26px 0 0;
  }

  .link {
    text-align: center;

    width: 100%;
  }

  .link_full-width {
    width: 100%;
  }

  .additional-text {
    text-align: center;
  }
}
