.carousel {
  position: relative;

  width: 510px;
  max-width: calc(100% - 72px);
  margin-left: 70px;
  box-sizing: border-box;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  width: 36px;
  height: 36px;
  padding: 0;

  background-color: transparent;

  border: 1.5px solid #16161680;
  border-radius: 50%;

  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1.5px solid #161616;
}

.button_left {
  left: -72px;
}

.button_right {
  right: -72px;
}

.button_disabled {
  opacity: 0.3;
  cursor: default;
}

.arrow-img-wrapper {
  align-self: stretch;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.arrow-img {
  width: 9px;
  height: 14px;

  transition: transform 0.2s ease-out;
}

.arrow-img_left,
.arrow-img-wrapper:active .arrow-img_left,
.button_disabled .arrow-img-wrapper:hover .arrow-img_left {
  transform: translateX(0);
}

.arrow-img-wrapper:hover .arrow-img_left {
  transform: translateX(-3px);
}

.arrow-img_right,
.arrow-img-wrapper:active .arrow-img_right,
.button_disabled .arrow-img-wrapper:hover .arrow-img_right {
  transform: translateX(0) rotate(180deg);
}

.arrow-img-wrapper:hover .arrow-img_right {
  transform: translateX(3px) rotate(180deg);
}
