.library-section {
  margin-top: 110px;
}

.library-section:first-child {
  margin-top: 0;
}

.library-section_no-margin {
  margin-top: 14px;
}

.library-section_small-margin {
  margin-top: 28px;
}

@media (max-width: 580px) {
  .wrapper {
    padding-top: 26px;
  }

  .library-section {
    margin-top: 72px;
  }

  .library-section:nth-child(2) {
    margin-top: 28px;
  }
}
