.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  padding: 2px 0;
  box-sizing: border-box;

  border-bottom: 1.5px solid #17171780;
}

.logo-wrapper {
  border-radius: 50%;
}

.logo {
  width: 100%;
}

.logo-wrapper:focus {
  outline: 0;
}

.logo-wrapper:focus-visible {
  outline: 1.5px solid #161616;
}

.button-menu {
  display: none;
}

@media (max-width: 475px) {
  .header {
    padding: 2px 20px;
  }

  .logo-wrapper {
    max-width: 96px;
  }

  .button-menu {
    display: block;
  }

  .button-learn {
    display: none;
  }
}
