.teachers-page {
  padding: 86px 0 0 50px;
}

.teachers-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 76px 44px;

  padding: 0 0 120px;
  margin: 0 0 72px;
  box-sizing: border-box;

  border-bottom: 1.5px solid #17171780;
}

.header {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0 0 18px;
}

.resources {
  margin-top: 72px;
}

.format-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.resources-list {
  margin: 0;
  padding: 0 0 0 16px;
}

.resources-item {
  margin-bottom: 18px;
}

.resources-item:last-child {
  margin-bottom: 0;
}

.resources-item__paragraph {
  margin: 0;
}

.resources-item__title {
  font-size: 14px;
  font-weight: 500;

  margin: 12px 0 0;
}

.features-list {
  list-style: none;

  margin: 0;
  padding: 0;
}
