.carousel {
  position: relative;

  width: 510px;
  max-width: calc(100% - 72px);
  margin-left: 70px;
  box-sizing: border-box;

  /* height: 400px;
  border: 2px solid green; */
}

.MMMslider {
  /* border: 1px solid red; */
  min-height: 250px;
  overflow: unset;

  overflow-x: hidden;
}

.slide {
  height: unset;
  /* border: 1px solid blue; */
  min-height: 200px;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  padding: 0;

  background-color: transparent;

  border: 1.5px solid #16161680;
  border-radius: 50%;
}

.button_left {
  left: -72px;
}

.button_right {
  right: -72px;
}

.button_disabled {
  opacity: 0.3;
  cursor: default;
}

.arrow-img {
  width: 9px;
  height: 14px;
}

.arrow-img_right {
  transform: rotate(180deg);
}
