.name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  margin: 0;
}

.text__paragraph {
  margin: 0;
}

.description {
  font-size: 16px;
  font-weight: 600;

  margin: 2px 0 0;
}

.text {
  margin: 12px 0 0;
}
