.sidebar {
  margin: 86px 0 0;

  border-right: 1.5px solid #17171780;
}

.sidebar-list {
  list-style: none;

  width: 214px;
  padding: 0 50px 54px 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar-link {
  font-weight: 600;
  text-transform: uppercase;
  color: #16161680;
  text-decoration: none;

  transform: color 0.2s;
}

.sidebar-link:hover {
  color: #161616bf;
}

.sidebar-link:active {
  color: #161616;
}

.sidebar-link:focus {
  outline: 0;
}

.sidebar-link:focus-visible {
  outline: 1.5px solid #161616;
}

.sidebar-item {
  margin-bottom: 11px;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-item_active {
  color: #161616;
}

/* @media (max-width: 1240px) {
  .sidebar-list {
    width: 214px;
    padding: 0 50px 54px 0;
  }
} */

@media (max-width: 1024px) {
  .sidebar-list {
    width: 180px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .sidebar-list {
    width: 150px;
    padding-right: 20px;
  }
}

@media (max-width: 640px) {
  .sidebar-list {
    width: 140px;
  }
}

@media (max-width: 475px) {
  .sidebar-list {
    display: none;
  }
}
