.footer {
  position: absolute;
  left: 0;
  right: 0;

  text-align: center;

  background-color: #f5f5f5;
}

.footer-top {
  display: inline-block;
  flex-direction: column;
  align-items: center;

  width: 1120px;
}

.footer_shop {
  display: flex;
  justify-content: center;

  padding: 72px 0 0;
  margin-top: 120px;
  box-sizing: border-box;

  border-top: 1.5px solid #17171780;
}

.footer_shop__text {
  font-size: 16px;
  text-align: center;

  max-width: 700px;

  margin: 0;
}

.footer_shop__link {
  color: #161616;
  text-decoration: none;
}

.footer_shop__link:focus {
  outline: 0;
}

.footer_shop__link:focus-visible {
  outline: 1.5px solid #161616;
}

.button-wrapper {
  text-align: center;

  padding: 92px 0;
  margin-top: 120px;
  box-sizing: border-box;

  border-top: 1.5px solid #17171780;
}

.button-wrapper.isShopPage {
  margin-top: 72px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  padding: 22px 0;
  box-sizing: border-box;

  background-color: #161616;
}

.footer-bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 62px;

  width: 1120px;
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
}

.contacts-link {
  text-decoration: none;
  color: #fff;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials__link {
  display: inline-block;

  width: 36px;
  height: 36px;
  padding: 0;
  box-sizing: border-box;

  border-radius: 50%;
}

.contacts-link:focus,
.socials__link:focus {
  outline: 0;
}

.contacts-link:focus-visible,
.socials__link:focus-visible {
  outline: 1.5px solid #fff;
}

.socials__image {
  width: 100%;
  height: 100%;
}

@media (max-width: 1240px) {
  .footer-top {
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
  }

  .footer-bottom {
    padding: 22px 60px;
  }
}
